<!DOCTYPE html>
<html>
<head>
    <title>Get Your Age from your birthday</title>
    <script>
        function fetchAge() {
            fetch('/get-age')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("Age-display").innerText = "Your age is: " + data.age;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <h2>Enter your birth year then clear on the button to get your age:</h2>
    <input type="text" id="txtYear"/>
    <button onclick="fetchTime()">Get Time</button>
    <h3 id="Age-display"></h3>
</body>
</html>
